PC-Side/Display-Service/Ransom/styles/default/__pycache__/*
PC-Side/Display-Service/Ransom/Log.txt
PC-Side/Raspi-Side/modules/__pycache__/*
PC-Side/Display-Service/Ransom/modules/Selfmade/__pycache__/*