PC-Side/Display-Service/Ransom/styles/default/__pycache__/*
PC-Side/Raspi-Side/modules/__pycache__/*
PC-Side/Display-Service/Ransom/modules/Selfmade/__pycache__/*
Python311
PC-Side/Display-Service/.vscode/launch.json
PC-Side/Display-Service/Ransom/Log.txt
PC-Side/Display-Service/env
DISP.code-workspace